<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrandListServlet</servlet-name>
    <servlet-class>com.servlet.BrandListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsListServlet</servlet-name>
    <servlet-class>com.servlet.NewsListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberUserServlet</servlet-name>
    <servlet-class>com.servlet.MemberUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.servlet.ShoppingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CaoOneServlet</servlet-name>
    <servlet-class>com.servlet.CaoOneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarTwoServlet</servlet-name>
    <servlet-class>com.servlet.CarTwoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarThreeServlet</servlet-name>
    <servlet-class>com.servlet.CarThreeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectProductServlet</servlet-name>
    <servlet-class>com.servlet.CollectProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrandListServlet</servlet-name>
    <url-pattern>/BrandListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsListServlet</servlet-name>
    <url-pattern>/NewsListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberUserServlet</servlet-name>
    <url-pattern>/MemberUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/ShoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaoOneServlet</servlet-name>
    <url-pattern>/CaoOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarTwoServlet</servlet-name>
    <url-pattern>/CarTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarThreeServlet</servlet-name>
    <url-pattern>/CarThreeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectProductServlet</servlet-name>
    <url-pattern>/CollectProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>IndexServlet</welcome-file>
  </welcome-file-list>
</web-app>